<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Student Registration API</title>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet"> 
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<div class="app-container">
		<div class="app-title">Student Registration API</div>
		<div class="app-subtitle">Forleven Backend Developer Test</div>
		<div class="docs-container">
			<img class="docs-container-logo" th:src="@{/images/forleven_logo.png}" alt="Forleven Logo" />
			<div class="docs-container-button">
				<a class="docs-container-button-label" href="/api/docs">API Documentation</a>
			</div>
		</div>	
	</div>
</body>
</html>
